ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 0px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-favprimary-dark);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: var(--ion-color-favprimary-shade);
}

ion-menu.ios ion-list-header {
  padding-left: 16px;
  padding-right: 16px;
}


ion-menu.ios ion-item.selected {
  --background: rgba(var(--ion-color-favprimary-dark-rgb), 0.45);
  color: var(--ion-color-favprimary-dark);
}

ion-menu.ios{
  ion-content.ios{
    --background : var(--ion-color-favprimary-light);
  }
}

.headerbg.ios {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 5px;
  --background : var(--ion-color-favprimary-dark);
  --color: var(--ion-color-favprimary-pale-tint);
}


.itembg.ios {
  border-bottom: 1px solid var(--ion-color-favprimary-pale);
  --background : var(--ion-color-favprimary-light);
  --color: var(--ion-color-favprimary-pale-tint);
}

.itembg.ios:hover{
  --background: rgba(var(--ion-color-favprimary-dark-rgb), 0.25);
  --color: var(--ion-color-favprimary-dark);
}


ion-menu.md ion-content {
  --padding-top: 0px;
}

ion-menu.md ion-list {
  padding: 0px 0;
}

ion-menu.md ion-list-header {
  padding-top: 30px;
  padding-bottom: 10px;
}

.headerbg.md {
  --background : var(--ion-color-favprimary-dark);
  --color: var(--ion-color-favprimary-pale-tint);
}

.itembg.md {
  --width: 500px;
  border-radius: 4px;
  border-bottom: 1px solid var(--ion-color-favprimary-pale);
  --background : var(--ion-color-favprimary-light);
}

ion-menu.md ion-list#options-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
  --background : var(--ion-color-favprimary-dark); 
  --color: var(--ion-color-favprimary-pale-tint);
}


ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-favprimary-dark-rgb), 0.5);
  color: var(--ion-color-favprimary-dark);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-favprimary-dark);
}

ion-menu.md ion-item.selected ion-label {
  color: var(--ion-color-favprimary-dark);
}

ion-menu.md ion-item ion-icon {
  color: var(--ion-color-favprimary);
}

ion-menu.md ion-item{
  font-weight: 700;
  color: var(--ion-color-favprimary-pale-tint);
}

ion-menu.md{
  ion-content.md{
    --background : var(--ion-color-favprimary-light);
  }
}

.itembg.md:hover {
  --background: rgba(var(--ion-color-favprimary-dark-rgb), 0.25);
  --color: var(--ion-color-favprimary-dark);
}

.itembg.md:hover {
  --background: rgba(var(--ion-color-favprimary-dark-rgb), 0.25);
  color: var(--ion-color-favprimary-dark);
}

.logobg {
  padding-left: 0px;
  --background : var(--ion-color-favprimary-pale);
}

.logobg ion-label h3{
  font-weight: 700;
  font-size: 14px;
  color: var(--ion-color-favprimary-dark);
}

ion-item ion-thumbnail ion-img {
  max-width: 5rem;    
  min-width: 5rem;
  
}